* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    text-align: end;
    border: 2px solid orange;
}

.cart {
    padding: 20px;
    border: 2px solid green;

    p {
        padding: 5px;
        border: 2px solid red;
    }
}