@import '../styles/Banner.css';

.lmj-banner {
	width: 100%;
	display: flex;
	justify-content: space-around;
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
}

.lmj-banner-row {
	display: inline-flex;
	align-items: center;
}

.lmj-title {
	padding-left: 32px;
}

.lmj-logo {
	height: 45px;
	width: 45px;
}