.lmj-shopping-list {
	display: flex;
	flex-direction: column;
	align-items: center;

	.lmj-plant-list-category {
		list-style-type: none;
		padding: 32px;
		display: flex;
		justify-content: center;
	}

	.lmj-plant-category {
		border: solid 2px black;
		border-radius: 10px;
		height: 50px;
		width: 200px;
		margin: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: rgb(167, 46, 46);
		color: white;
	}
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 800px;
}

.lmj-plant-item {
	border: solid 2px black;
	border-radius: 10px;
	height: 250px;
	width: 200px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	text-transform: capitalize;

	.lmj-plant-bestSale {
		padding-top: 5px;
		color: orange;
	}

	.lmj-plant-specialOffer {
		position: absolute;
		top: -10px;
		font-weight: 500;
		color: white;
		padding: 5px 10px;
		background-color: #31b572;
	}

	.lmj-plant-light, .lmj-plant-water {
		padding: 5px;
	}
}

.lmj-sales {
	position: absolute;
	right: 0px;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: #31b572;
}